*{
    margin: 0px;
    padding: 0px;
}
a{
    color: white;
}
body{
    background-color: lightslategrey;
}
.chatbox{
    margin-right:auto;
    margin-left:auto;
    background-color: ghostwhite;
    width: 700px;
    height: 600px;
    border-style: solid;
    border-color: #404040;
    border-width: 2px;
    
    
}

.info{
   background-color: black;
    width: 400px;
    height: 300px;
    margin: 200px 50px;
    border: 2px solid #FFF;
    float:left;
    border-radius: 20px;
}
.info h2{
    background-color: black;
    color: white;
    font-size: 45px;
    text-align: center;
    font-family: 'Muli', sans-serif;
    margin: 5px;
}

header{  
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    height: auto;
    width: 700px;
     border-style: solid;
    border-color: #404040;
    border-width: 2px;
    
}

.title{
    font-family: 'Muli', sans-serif;
    text-align: center;
    background-color: ghostwhite;
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    text-align: center;
    background-color: black;
    color: white;
    height: 45px;
    width: 100%; 
}
footer p{
    font-size: 15px;
    line-height: 45px;
    margin-right: 20px;
    margin-left: 20px;
}
nav {
	background-color: #000;
}
